In [59]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from catboost import CatBoostClassifier

In [2]:
train = pd.read_csv('data/train.csv')
train_agg = pd.read_feather('new_data/train_agg_2.ftr')
train_geo = pd.read_csv('new_data/train_geo_2.csv')

In [3]:
train = train.sort_values('field_id').reset_index(drop=True)
train_geo = train_geo.sort_values('field_id').reset_index(drop=True)
train_agg = train_agg.sort_values('field_id').reset_index(drop=True)

In [39]:
train_all = pd.DataFrame()

for col in train_geo.columns:
    train_all[col] = train_geo[col]
    
for col in train_agg.columns[:-1]:
    if 'B' not in col:
        train_all[col] = train_agg[col]
    
for col in train.columns[2:2130]:
    train_all[col] = train[col]

/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_84397/2130842795.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  train_all[col] = train_agg[col]
/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_84397/2130842795.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  train_all[col] = train[col]

In [4]:
# train_all = pd.DataFrame()

# for col in train_geo.columns:
#     train_all[col] = train_geo[col]
    
# for col in train_agg.columns[:-1]:
#     train_all[col] = train_agg[col]
    
# for col in train.columns[2:]:
#     train_all[col] = train[col]

/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_98465/3388133698.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  train_all[col] = train_agg[col]
/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_98465/3388133698.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  train_all[col] = train[col]

In [5]:
train_all = train_all.reset_index(drop=True)

In [6]:
train_all

,field_id,label,square,x,y,nearest_1,nearest_2,nearest_3,nearest_4,nearest_5,...,B12_median_61,B12_median_63,B12_median_65,B12_median_66,B12_median_67,B12_median_69,B12_median_71,B12_median_73,B12_median_74,B12_median_76
0,1,4,622,-33.646936,18.936228,4,4,4,4,4,...,NaN,NaN,NaN,0.278431,NaN,NaN,NaN,NaN,0.305882,NaN
1,2,7,23,-33.094755,18.860257,4,4,4,4,7,...,NaN,NaN,NaN,0.427451,NaN,NaN,NaN,NaN,0.427451,NaN
2,3,6,778,-33.323146,18.911024,6,6,6,6,6,...,NaN,NaN,NaN,0.117647,NaN,NaN,NaN,NaN,0.407843,NaN
3,4,8,151,-33.662651,18.763625,6,7,7,7,7,...,NaN,NaN,NaN,0.247059,NaN,NaN,NaN,NaN,0.054902,NaN
4,6,4,176,-33.994488,18.873693,4,4,4,4,4,...,NaN,NaN,NaN,0.349020,NaN,NaN,NaN,NaN,0.450980,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87107,122731,4,272,-33.949088,18.798847,4,4,4,4,4,...,NaN,NaN,NaN,0.392157,NaN,NaN,NaN,NaN,0.639216,NaN
87108,122732,5,681,-31.162017,18.284232,3,5,3,5,5,...,0.427451,0.349020,0.466667,NaN,0.470588,0.458824,0.517647,0.458824,NaN,0.462745
87109,122733,2,65,-34.083866,18.894828,2,2,1,1,2,...,NaN,NaN,NaN,0.219608,NaN,NaN,NaN,NaN,0.537255,NaN
87110,122735,3,72,-31.632069,18.458037,3,3,3,3,4,...,0.447059,0.486275,0.454902,0.490196,0.439216,0.443137,0.568627,0.443137,0.392157,0.423529
87111,122736,9,3007,-32.218827,18.715255,9,5,9,5,9,...,0.368627,0.474510,0.407843,0.572549,0.427451,0.407843,0.360784,0.439216,0.474510,0.419608

In [7]:
train_all.to_feather('new_data/train_all_2.ftr')

In [8]:
test = pd.read_csv('data/test.csv')
test_agg = pd.read_feather('new_data/test_agg_2.ftr')
test_geo = pd.read_csv('new_data/test_geo_2.csv')

In [9]:
test = test.sort_values('field_id').reset_index(drop=True)
test_geo = test_geo.sort_values('field_id').reset_index(drop=True)
test_agg = test_agg.sort_values('field_id').reset_index(drop=True)

In [84]:
test_all = pd.DataFrame()

for col in test_geo.columns:
    test_all[col] = test_geo[col]
    
for col in test_agg.columns[:-1]:
    if 'B' not in col:
        test_all[col] = test_agg[col]
    
for col in test.columns[1:2130]:
    test_all[col] = test[col]

/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_84397/1164782888.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  test_all[col] = test_agg[col]
/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_84397/1164782888.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  test_all[col] = test[col]

In [10]:
# test_all = pd.DataFrame()

# for col in test_geo.columns:
#     test_all[col] = test_geo[col]
    
# for col in test_agg.columns[:-1]:
#     test_all[col] = test_agg[col]
    
# for col in test.columns[1:]:
#     test_all[col] = test[col]

/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_98465/776075321.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  test_all[col] = test_agg[col]
/var/folders/8n/c9njytgn0g778_3wm9c937c80000gn/T/ipykernel_98465/776075321.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  test_all[col] = test[col]

In [11]:
test_all = test_all.reset_index(drop=True)

In [12]:
test_all

,field_id,square,x,y,nearest_1,nearest_2,nearest_3,nearest_4,nearest_5,nearest_6,...,B12_median_61,B12_median_63,B12_median_65,B12_median_66,B12_median_67,B12_median_69,B12_median_71,B12_median_73,B12_median_74,B12_median_76
0,5,717,-33.555544,19.013096,7,7,7,7,6,1,...,NaN,NaN,NaN,0.317647,NaN,NaN,NaN,NaN,0.392157,NaN
1,10,2073,-33.668825,18.701499,7,7,7,6,6,2,...,NaN,NaN,NaN,0.192157,NaN,NaN,NaN,NaN,0.231373,NaN
2,11,1057,-32.962172,18.134887,6,2,2,2,2,6,...,0.435294,0.262745,0.454902,0.549020,0.482353,0.458824,0.450980,0.407843,0.517647,0.513725
3,17,760,-32.069886,18.626311,5,9,5,5,9,6,...,0.407843,0.486275,0.427451,0.152941,0.443137,0.427451,0.427451,0.482353,0.117647,0.439216
4,18,95,-31.394611,18.316222,5,5,5,5,3,5,...,0.352941,0.458824,0.388235,NaN,0.372549,0.360784,0.627451,0.356863,NaN,0.368627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35290,122722,3850,-31.794415,18.450275,3,3,3,3,3,3,...,0.380392,0.435294,0.403922,0.545098,0.407843,0.396078,0.462745,0.478431,0.513725,0.415686
35291,122724,734,-33.448877,19.164916,2,2,5,2,2,2,...,NaN,NaN,NaN,0.258824,NaN,NaN,NaN,NaN,0.400000,NaN
35292,122726,761,-32.875048,17.972564,7,1,1,1,1,3,...,0.282353,0.192157,0.317647,0.505882,0.345098,0.349020,0.133333,0.400000,0.427451,0.372549
35293,122730,239,-33.502168,18.672037,3,6,6,6,2,4,...,NaN,NaN,NaN,0.239216,NaN,NaN,NaN,NaN,0.254902,NaN
35294,122734,1979,-33.675827,18.696209,6,6,3,6,6,3,...,NaN,NaN,NaN,0.188235,NaN,NaN,NaN,NaN,0.325490,NaN

In [13]:
test_all.to_feather('new_data/test_all_2.ftr')